
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 offset-3">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
              <div class="card-body">
                <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'py-4 form-control' , placeholder:"Enter email address"%>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                  <a class="small" href="/users/sign_in/">Return to login</a>
                  <%= f.submit "Reset Password", class: 'btn btn-secondary ' %>
                </div>
                <%end%>
              </div>
              <div class="card-footer text-center">
                <div class="small"><a href="/users/sign_up/">Need an account? Sign up!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
  <%=render 'devise/shared/footer'%>
  </div>
